<h1>This is the main page, which will list Top Movies, Top Books, Top Albums (10 of each, in order, with number of upvotes), a link to each item, links to the rest of each category at the bottom, a link to itself, and </h1>
