<h1>Media Ranker Seinfeld Episodes</h1>

<main>
  <% @seinfelds.each do |seinfeld| %>
    <article class="one-seinfeld">
      <h4><%= link_to seinfeld.title, seinfeld_path(seinfeld.id) %></h4>
      <p> Votes: <%= seinfeld.rank %></p>
    </article>
  <% end %>
</main>

<p class="new_button"><%= button_to "Add New Seinfeld Episode", {controller: 'seinfelds', action: 'new'}, {path: 'new_seinfeld', method: :get} %></p>
<p class="media_button"><%= button_to "View All Media", {controller: 'landings', action: 'index'}, {path: 'landings', method: :get} %></p>
