<section>
  <h2>Top Albums</h2>
  <% @albums.each do |album| %>
    <p>
      <%= link_to album.title, show_albums_path(album.id)%>
      <%= "Ranked: #{album.rank}" %>
    </p>
  <% end %>
  <%= link_to "View all albums", index_albums_path%>
</section>
