<section>
  <p>Ranking</p>
  <p>Name</p>
  <p>Upvote</p>

  <article class="full_list">
    <% @movies.each do |movie| %>
      <p class="list_row">
          Ranked:<%= movie.votes %>
      </p>
      <p class="list_row">
          <%= link_to movie.name, show_path(movie.id) %>
      </p>

      <p class="list_row">
          <%= link_to "Upvote", upvote_path(movie.id) %>
      </p>

    <% end %>
  </article>

</section>
