<table>
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.ranked %></td>
      <td><%= movie.title %></td>
      <td>Upvote Button</td>
    </tr>
    <% end %>
  </tbody>
</table>
