<%= render partial: "layouts/display_table", locals: {items: @movies, title: "These are all the movies:"} %>

<h4><%= link_to "Add a new movie", new_movie_path %></h4>
<h4><%= link_to "Home", root_path %></h4>
