<h1>Movies</h1>

<% 10.times do |i| %>
<ul class = 'list'>
  <li><%= link_to "#{@movie_list_by_votes[i].title}", movie_path(@movie_list_by_votes[i].id)%>
  <%= "Votes: #{@movie_list_by_votes[i].votes}" %></li>
</ul>
<% end %>

<%= link_to "Add Movie", new_movie_path %>
