<h2>All Movies</h2>
<h5><%= link_to "Submit a new movie for voting", new_movie_path %></h5>
<table class="index-table">
  <tr>
    <th>Points</th>
    <th>Movie Name</th>
    <th>More...</th>
  </tr>
  <% @movies.each do |movie| %>
  <tr>
    <td><%= "#{movie.rank_points}" %></td>
    <td><%= "#{movie.name}" %></td>
    <td><small>
      <%= link_to "[Details]", movie_path(movie) %>
  </tr>
  <% end %>
</table>
