<section class="hero hero1">
       <a name="top-movies"></a>
        <div class="wrapper row">
          <div class="small-10 medium-6 large-3 columns">
            <h1> Top Movies </h1>
            <p>
              Swag pork belly brunch gluten-free kinfolk before they sold out asymmetrical. Thundercats pug poke, cornhole subway tile skateboard tote bag seitan. Before they sold out artisan vegan, raclette roof party iceland viral 8-bit. Intelligentsia yr 3 wolf moon +1 helvetica
            </p>
          </div>
        </div>
</section>

<table>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>

<% @movies.each do |movie| %>

  <tr>
    <td>Ranked: <%= movie.ranked %></td>
    <td><%= link_to(movie.name, movie_path(movie.id)) %></td>
    <td><%= button_to "Upvote", movie_path(movie.id), method: :get %></td>
  </tr>
<% end %>
</table>

<ul>
  <li><%= button_to 'Add a Movie', new_movie_path, method: :get %></li>
</ul>
