<h1>Viewing All Movies </h1>

<h3> Ranking || Name || Upvote </h3>
<% @movies.each do |movie| %>
<p><%= "#{movie.ranking} |------------|" %>
<%=  link_to "#{movie.name}", movie_path(movie) %></p>
<% end %>
