
<article class="table">
<tbody class="table-body">
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
  <hr>
  <tr>
    <td>Name</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
</tbody>
</article>

<%= link_to "View All Media", root_path %>
<%= link_to "Add a Movie", new_movie_path %>
