<%= render partial: "shared/index", locals: { media_type: :movie, media_collection: @movies } %>
<div class="row">
  <nav class="small-12 columns">
    <%= link_to "View All Media", root_path %>
    <%= link_to "Add a Movie", new_movie_path %>
  </nav>
</div>
