<h2>Movies</h2>
<%= link_to 'Add a Movie', movie_new_path %>
<table>
<tr>
  <th>Rank</th>
  <th>Title</th>
  <th>Upvote</th>
  <th colspan="2"></th>
</tr>
<% @movies.each do |movie| %>
    <tr>
      <td><%= movie.rank %> </td>
      <td><%= link_to movie.title, movie_show_path(movie.id) %></td>
      <td><%# link_to 'Upvote!', market_show_path(market) %></td
    </tr>
  <% end %>
</table>
