<tbody>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
  <% @movies.each do |movie| %>
  <td><%= "Ranked: #{movie.rank}"%></td>
  <td><%= link_to "#{movie.name}", movie_path(movie) %></td>
  <td><%= "upvote button :(" %><%# link_to #####WHAT GOES HERE FOR UPVOTE?? button?? %></td>
  <% end %>
</tbody>

<%# link_to "View All Media", ######ROOT ROUTE %>

<h4><%= link_to "Add a Movie", new_movie_path %> </h4>
