<section>
  <h1>Top Movies</h1>
  <article class="full_list">
    <% @movies.each do |movie| %>
      <p class="list_row">
          <%= link_to movie.name, show_path(movie.id) %>
      </p>
      <p class="list_row">
          Ranked:<%= movie.votes %>
      </p>
    <% end %>
  </article>

  <p><%= link_to "view more movies", all_path %></p>
</section>
