<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<article>
  <h1>ranking</h1> <h1>name</h1> <h1>upvote</h1>
  <% @movies.each do |movie| %>
  <p>
    ranked: movie.votes
  </p>
  <p>
    <%= link_to "#{movie.name}", movie_path %>
  </p>
  <p>
    <%= button_to 'upvote', {action: "update", id: movie.id }, method: :patch %>
  </p>
  <% end %>
  <p>
    <%= link_to 'Media Ranker', mediaranker_index_path %>
  </p>
  <p>
    <%= link_to 'add new', new_movie_path %>
  </p>
</article>
