<%= render partial: "layouts/index", locals: {category: "Movies"} %>

<section>
  <div class="button"><%= link_to "View All Media", root_path %></div>
  <div class="button"><%= link_to "Add a Movie", new_movie_path %></div>
</section>
