<h1>Media Ranker Movies</h1>

<main>
  <% @movies.each do |movie| %>
    <article class="one-movie">
      <h4><%= link_to movie.title, movie_path(movie.id) %></h4>
      <p> Votes: <%= movie.rank %></p>
    </article>
  <% end %>
</main>

<p class="new_button"><%= button_to "Add New Movie", {controller: 'movies', action: 'new'}, {path: 'new_movie', method: :get} %></p>
<p class="media_button"><%= button_to "View All Media", {controller: 'landings', action: 'index'}, {path: 'landings', method: :get} %></p>
