<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
</p>Once functional. I will delete all this.</p>
<hr />
<h1>MAIN PAGE</h1>
<p>This is page that is going to link to the other pages.</p>
<hr />
<!-- <div> could give class="col-md-4" -->

<h1>Top Movies</h1>
<p>Reveal all movies first. Then you can limit what shows on users main page.</p>
  <% @movies.each do |movie| %>
  <h2><%=link_to(movie.name, movies_path(movie[:id])) %></h2>
  <% end %>

  <h1>Top Books</h1>
  <h1>Top Albums</h1>
<!-- </div> -->
