<h1><%= media_type.to_s.capitalize %></h1>
<table>
  <tr>
    <th>
      Ranking
    </th>
    <th>
      Name
    </th>
    <th>
      Upvote
    </th>
  </tr>

  <% media_collection.each do |item| %>
  <% case media_type %>
    <% when :albums %>
      <% media_path = album_path(item) %>
    <% when :movies %>
      <% media_path = movie_path(item) %>
    <% when :books %>
      <% media_path = book_path(item) %>
  <% end %>
  <tr>
    <td>
      <%= "Ranked: #{item.ranking}" %>
    </td>
    <td>
      <%= link_to item.name, media_path %>
    </td>
    <td>
      TODO: Upvote button
    </td>
  </tr>
  <% end %>

</table>
