<header>

  <h1>Media Ranker</h1>
  <small>Ranking the Best of Everything</small>
</header>

<h1>Top Movies</h1>

<ol>
<% @movies.each do |movie| %>
  <li>
    <h2><%= movie.name %></h2>
    <small><%= movie.upvotes %></small>
  </li>

<% end  %>
</ol>
