<h1>Bobs#index</h1>
<p>Find me in app/views/bobs/index.html.erb</p>

<% @bobs.each do |bob| %>
<p><%= link_to( bob.name, show_bob_path(bob.id) ) %></p>
<% end %>

<p><%= link_to( 'create a new bob', new_bob_path ) %></p>
