<main  class="row">
  <section class="form small-12 column">
    <h1>Edit Book</h1>
    <%= render partial: "shared/form", locals: { media_item: @book, creator: :author, http_method: :patch } %>
  </section>
</main>
