<%= render partial: "layouts/display_table", locals: {items: @books, title: "These are all the books:"} %>

<h4><%= link_to "Add a new book", new_book_path %></h4>
<h4><%= link_to "Home", root_path %></h4>
