<table>
  <thead>
    <tr>
      <th scope="col">Ranking</th>
      <th scope="col">Book</th>
      <th scope="col">Upvote</th>
    </tr>
  </thead>

  <tbody>
    <% @books.sort_by_rank.each do |book| %>
    <tr>

      <td>
        Ranked: <%= ranking(book) %>
      </td>

      <td scope="row">
        <%= link_to "#{book.title}", book_path(book) %>
      </td>


      <td>
        <%= link_to "Upvote", upvote_book_path(book), method: "patch" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%#= link_to "All Media", root_path %>
  <%= link_to "Add New Book", new_book_path %>
</p>
