<h2>All Books</h2>
<h5><%= link_to "Submit a new book for voting", new_book_path %></h5>
<table class="index-table">
  <tr>
    <th>Points</th>
    <th>Book Name</th>
    <th>More...</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= "#{book.rank_points}" %></td>
    <td><%= "#{book.name}" %></td>
    <td><small>
      <%= link_to "[Details]", book_path(book) %>
  </tr>
  <% end %>
</table>
