<h1> All the books. </h1>
<%= render partial: "layouts/basic_info", locals: { media_type: @books, media_class: "book"}%>

<table class="buttons">
  <tr>
    <td>
      <%= button_to "Add new book", new_book_path, method: :get, class: "button primary-action"%>
    </td>
    <td>
      <%= button_to "Go back home", root_path, method: :get, class: "button"%>
    </td>
  </tr>
</table>
