<main class="row">
  <section class="form small-12 column">
    <h1>Edit Album</h1>
    <%= render partial: "shared/form", locals: { media_item: @album, creator: :artist, http_method: :patch } %>
  </section>
</main>
