<main>
  <h2>Edit Album</h2>

  <%= render partial: "form",
        locals: {
          http_method: :patch,
          media: @album,
          label_one: :name,
          label_two: :artist,
          media_name: "Albums",
          media_path: albums_path } %>

</main>
