<%= render partial: "shared/index", locals: { media_type: :album, media_collection: @albums } %>
<div class="row">
  <nav class="small-12 columns">
    <%= link_to "View All Media", root_path, class: "button"  %>
    <%= link_to "Add an Album", new_album_path, class: "button"  %>
  </nav>
</div>
