<table>
  <thead>
    <tr>
      <th>
        <p>Ranking</p>
      </th>
      <th>
        <p>Name</p>
      </th>
      <th>
        <p>Upvote</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @albums.each do |a| %>
        <td><%= "#{ a.upvotes }" %></td>
        <td><%= link_to "#{ a.name }", album_path(a) %></td>
        <td><%= button_to "Upvote", root_path %></td>
    </tr>
      <% end %>
  </tbody>
</table>




<h1>This will have a column-formatted list of ranking (upvotes), name, and button to upvote. Below that, there are buttons to View All Media and Add an Album</h1>
