<h1>Albums</h1>
<table>
  <tr>
    <th>
      Ranking
    </th>
    <th>
      Name
    </th>
    <th>
      Upvote
    </th>
  </tr>

  <%= @albums.each do |album| %>
  <tr>
    <td>
      <%= "Ranked: #{album.ranking}" %>
    </td>
    <td>
      <%= link_to album.name, album_path(album) %>
    </td>
    <td>
      TODO: Upvote button
    </td>
  </tr>
  <% end %>
  
</table>
