<h2>All Albums</h2>
<h5><%= link_to "Submit a new album for voting", new_album_path %></h5>
<table class="index-table">
  <tr>
    <th>Points</th>
    <th>Album Name</th>
    <th>More...</th>
  </tr>

  <% @albums.each do |album| %>
  <tr>
    <td><%= "#{album.rank_points}" %></td>
    <td><%= "#{album.name}" %></td>
    <td><small><%= link_to "[Details]", album_path(album) %></small></tr>
  <% end %>
</table>
