<tbody>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
  <% @albums.each do |album| %>
  <td><%= "Ranked: #{album.rank}"%></td>
  <td><%= link_to "#{album.name}", album_path(album) %></td>
  <td><%= "upvote button :(" %><%# link_to #####WHAT GOES HERE FOR UPVOTE?? button?? %></td>
  <% end %>
</tbody>

<%# link_to "View All Media", ######ROOT ROUTE %>

<h4><%= link_to "Add an Album", new_album_path %> </h4>
