<h1> All the Albums </h1>
<%= render partial: "layouts/basic_info", locals: { media_type: @albums, media_class: "album"}%>

<%= button_to "Add new album", new_album_path, method: :get, class: "button"%>
