<h1>Homes#index</h1>

<% @movies.each do |movie| %>
<ul>

  <li><%= "#{movie.name}" %></li>

</ul>

<% @books.each do |book| %>
<ul>

  <li><%= "#{book.name}" %></li>

</ul>

<% @albums.each do |album| %>
<ul>

  <li><%= "#{album.name}" %></li>

</ul>
