<h1>THIS IS MY HOMEPAGE</h1>

<table>
  <tr>
    <th>Top Movies</th>
    <th>Top Books</th>
    <th>Top Albums</th>
  </tr>

  <tr>
    <td>To-do: link to movies</td>
    <td>To-do: to books</td>
    <td>To-do: to albums</td>
  </tr>

  <tr>
    <td><%= link_to "View More Movies", movies_path %></td>
    <td><%= link_to "View More Books", books_path %></td>
    <td><%= link_to "View More Albums", albums_path %></td>
  </tr>
</table>
