<!-- <h1>Top <%= @medium_type_name.pluralize %></h1> -->
<table>
  <tr>
    <th>Name</th>
    <th>Ranking</th>
    <th>Upvote</th>
  </tr>


  <% @media.each do |medium| %>
    <tr>
      <%= render partial: medium.type.downcase, locals: { medium.type.downcase.to_sym => medium } %>
      <td>
        <%= link_to "Upvote", medium_upvote_path(medium.id) %>
      </td>
    <tr>
  <% end %>

</table>
