<h1>Media Ranker</h1>
<h3>Ranking the Best of Everything</h3>

<ul>
  <li><%=link_to "Top Movies", 'www.google.com'%></li>
  <li><%=link_to "Top Books", 'www.google.com'%></li>
  <li><%=link_to "Top Albums", 'www.google.com'%></li>
</ul>
