<section class="row small-up-1 medium-up-3 large-up-3">

<div class="column">
<header>
  <h3>Top Movies</h3>
</header>
<%= render partial: "layouts/basic_info", locals: { media_type: @top_movies, media_class: "movie"}%>
</div>

<div class="column">
<header>
  <h3>Top Books</h3>
</header>
<%= render partial: "layouts/basic_info", locals: { media_type: @top_books, media_class: "book"}%>
</div>

<div class="column">
<header>
  <h3>Top Albums</h3>
</header>
<%= render partial: "layouts/basic_info", locals: { media_type: @top_books, media_class: "book"}%>
</div>

</section>
