<h2><%= "#{media[0].class}s by Rank" %></h2>

<table>
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Title</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% media.each do |media| %>
    <tr>
      <td><%= media.ranked %></td>
      <td><%= link_to media.title, url_for(media) %></td>
      <td><%= link_to "Upvote", url_for(media), { action: "upvote", method: "patch" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
