<table class='hover'>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
    <tr>

      <% media_collection.each do |media| %>
    <tr>
      <td><%= media.upvotes %></td>
      <td><%= link_to media.name, create_media_path(media) %></td>
      <td><%= render partial: 'layouts/upvote', locals: { media: media } %></td>
    </tr>
      <% end  %>

</table>
