<table>
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Title</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% media.each do |media| %>
    <tr>
      <td><%= media.ranked %></td>
      <td><%= link_to media.title, url_for(media) %></td>
      <td><%= button_to "Upvote" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
