  <ol>
    <% media_collection.each do |media| %>
    <li>
      <h2><%= link_to media.name, create_media_path(media) %></h2>
      <small><%= media.upvotes %></small>
    </li>

    <% end  %>
  </ol>
