<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <img src="http://i.imgur.com/f5sBtgx.png" alt="cat owl clipart" />
  <h1>Media Ranker</h1>
  <h3>Ranking the Best of Everything</h3>
</header>
<%= yield %>

</body>
</html>
