<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <link rel="stylesheet" href="css/foundation.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Play" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="row">
      <!-- <img class="owl_pic" src="http://cliparting.com/wp-content/uploads/2016/05/5lors-of-owl-clip-art-pack-plus-more-for-only-2-awesome.jpg"> -->
        <h1>
          <a class="header_str" href="/"> Media Ranker </a>
          <!-- <small> Ranking the Best of Everything </small> -->
        </h1>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
