<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class = "row">
    <img src = "http://www.clipartkid.com/images/110/free-two-cute-cartoon-owls-perched-on-a-branch-clip-art-2i2oQ8-clipart.png" class = "small-2 medium-3 columns">
    <div class = "small-10 medium-9 columns">
      <h1>Media Ranker</h1>
      <h3>Ranking the Best of Everything</h3>
    </div>
  </header>

  <%= yield %>

</body>
</html>
