<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Changa+One|Varela" rel="stylesheet">
</head>

<body>

  <header class="row">
    <h1 class="large-12 small-12 columns">Media Ranker</h1>
  </header>

  <article>
    <%= yield %>
  </article>

</body>
</html>
